@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body{
    background:url('./logos/Background.png');
    background-size: cover;
    background-repeat:repeat;
    height:auto;
    width:auto;
    color: white;
    font-family:'Noto Sans', sans-serif;
    font-size: 50px;
    line-height: 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    
    width: 60px;
    padding-left: 5rem;

}
.logo:hover{
    opacity: 0.5;
}
.planet{
    opacity: 0.5;
    height:30px;
    width: 30px;
    padding-right: 4rem;
}
.top {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.lower-section{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.circle{
    height: 8rem;
    width: 8rem;
    background-color: rgb(68, 68, 68);
    border-radius: 50%;
}
#circle-reveal{
    font-size: 0px;
    margin: 3.5rem 2rem;
}
.circle:hover{
    opacity: 1;
    transition: opacity 1s;
}

.circle:hover #circle-reveal{
    font-size: 20px;
}

.circle:hover img{
 display: none;
}

.circle img{
    height: 6rem;
    width: 6rem;
    margin: 1rem;
}

.center-content{
    align-items: center;
    justify-content: center;  
}
.text-container{
    text-align: center;
    height: fit-content;
}

 h1:hover, h4:hover{
    font-family: 'Noto Serif', serif;
    font-style:italic;
    transition: text-shadow 0.1s ease-in; 
    color: rgba(0, 0, 0, 0);
    /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: white;
}
.lower{
margin: 2rem;
}

h4{
    margin-bottom: 5px;
    margin-top: 0px;
}

hr{
    border-bottom: 0.4px solid white;
    width: 230px;
}


.lower img{
    height: 40px;
    /* width: 35px; */
    margin: 0 14px;
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}

