@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
html{
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0;
  background:url('./logos/Background.png');
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body{
    
    height:auto;
    width:auto;
    color: white;
    font-family:'Noto Sans', sans-serif;
    font-size: 50px;
    line-height: 1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    
    width: 60px;
    padding-left: 5rem;

}
.logo:hover{
    opacity: 0.5;
}
.planet{
    opacity: 0.5;
    height:30px;
    width: 30px;
    padding-right: 4rem;
}
.top {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.top-text{
    font-size: 20px;
    color: gray;
    width: fit-content;
    margin-left: 12rem;
    margin-top: 1.5rem;
    margin-bottom: -3rem;
    
}
.text-right{
    text-align: right;
}


.white{
    color: white;
}

.lower-section{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.circle{
    height: 7rem;
    width: 7rem;
    background-color: rgb(49, 49, 49);
    border-radius: 50%;
}
#circle-reveal{
    font-size: 0px;
    margin: 3rem 2rem;
}
.circle:hover{
    opacity: 1;
    transition: opacity 1s;
}

.circle:hover #circle-reveal{
    font-size: 16px;
}

.circle:hover img{
 display: none;
}

.circle img{
    height: 5rem;
    width: 5rem;
    margin: 1rem;
}

.center-content{
    align-items: center;
    justify-content: center;  
}
.text-container{
    text-align: center;
    height: fit-content;
}
h1{
    margin-bottom: 2rem;
}
 h1:hover, h4:hover{
    font-family: 'Noto Serif', serif;
    font-style:italic;
    transition: text-shadow 0.1s ease-in; 
    color: rgba(0, 0, 0, 0);
    /* -webkit-text-fill-color: white; */
    -webkit-text-stroke-width: 0.01rem;
    -webkit-text-stroke-color: white;
}
.lower{
margin: 2rem;
}


h4{
    margin-bottom: 5px;
    margin-top: 0px;
}

hr{
    border-bottom: 0.4px solid rgb(49, 49, 49);
    width: 230px;
    margin: 8px 0;
}


.lower img{
    height: 30px;
    margin: 0 15px;
    opacity: 0.5;
}

img:hover{
    opacity: 1;
}


.lower-info-text:hover{
    opacity: 1 !important;
}

.lower-info-text{
    font-size: 17px;
    opacity: 0.5;
    width: fit-content;
    text-align: center;
    margin: auto;
    
}
.lower-info-text div{
    padding: 6px;
}

.lower-info-text img{
height: 22px;
}

@media only screen and (max-width: 768px) {
    html{
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    height: 100%;
    margin: 0; 
      
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

body{
    font-size: 30px;
    border: 1px solid transparent;
}

.top-text {
    margin-left: auto;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    margin-right: auto;
}
.text-right {
    text-align: center;
}
.top{
    text-align: center;
}
.logo{
    padding-left: 1rem;
}

.planet{
    padding-right: 1.5rem;
    padding-top: 0.5rem;
}

h1{
    margin-bottom: 1rem;
}
hr{
    width: 143px;
}
.lower img{
    height: 23px;
    margin: 0 7px;
}
.lower-info-text{
    font-size: 15px;
}
.circle{
    display: none;
}
.lower-info-text img{
    height: 17px;
    }

}

